# CarDekho Used Car Sales Dataset

Original Dataset: https://www.kaggle.com/datasets/sukritchatterjee/used-cars-dataset-cardekho

The dataset used in this kernel is a cleaned version of the original dataset from Kaggle. It has 13 columns containing information about the make, model, usage patterns and specifications of over 15,000 used cars, scraped from the CarDekho website.

## Goal

The goal of this notebook is to use the dataset as a resource for learning AdaBoost Regression. The model will use independent features like make, model, usage patterns and specifications to predict selling price.

In [67]:
# Importing required modules
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import pickle

from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV

In [32]:
%matplotlib inline
warnings.filterwarnings('ignore')  # Comment out to see warnings

# Importing the Dataset

In [33]:
df = pd.read_csv("Datasets/cardekho.csv", index_col=[0])

In [34]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

In [36]:
df.describe()

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
count,15411.000000,1.541100e+04,15411.000000,15411.000000,15411.000000,15411.000000,1.541100e+04
mean,6.036338,5.561648e+04,19.701151,1486.057751,100.588254,5.325482,7.749711e+05
std,3.013291,5.161855e+04,4.171265,521.106696,42.972979,0.807628,8.941284e+05
min,0.000000,1.000000e+02,4.000000,793.000000,38.400000,0.000000,4.000000e+04
25%,4.000000,3.000000e+04,17.000000,1197.000000,74.000000,5.000000,3.850000e+05
50%,6.000000,5.000000e+04,19.670000,1248.000000,88.500000,5.000000,5.560000e+05
75%,8.000000,7.000000e+04,22.700000,1582.000000,117.300000,5.000000,8.250000e+05
max,29.000000,3.800000e+06,33.540000,6592.000000,626.000000,9.000000,3.950000e+07

# Data Cleaning

* Handle Typographical Errors
* Handle Missing Values
* Handle Duplicates
* Check Datatypes

## Handling Typographical Errors

In [37]:
# Printing unique entries in all categorical columns
# Getting a list of all categorical columns
cat_cols = df.select_dtypes('object').columns.to_list()
# Printing unique entries to check for data entry errors
for column in cat_cols:
    print(df[column].value_counts(), end="\n\n")

car_name
Hyundai i20           906
Maruti Swift Dzire    890
Maruti Swift          781
Maruti Alto           778
Honda City            757
                     ...
Mercedes-AMG C          1
Tata Altroz             1
Ferrari GTC4Lusso       1
Hyundai Aura            1
Force Gurkha            1
Name: count, Length: 121, dtype: int64

brand
Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Ferrari             1
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64

transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

There are no apparent typo errors.

## Handling Missing Values

In [38]:
# Checking for null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

There are no null values in any columns.

## Handling Duplicates

In [39]:
df[df.duplicated(keep=False)]

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
31,Maruti Swift Dzire,Maruti,Swift Dzire,6,90000,Individual,Diesel,Manual,26.59,1248,74.00,5,600000
90,Honda City,Honda,City,8,70000,Individual,Petrol,Manual,16.80,1497,116.30,5,545000
210,Maruti Alto,Maruti,Alto,2,25000,Individual,Petrol,Manual,24.70,796,47.30,5,310000
261,Honda City,Honda,City,8,70000,Individual,Petrol,Manual,16.80,1497,116.30,5,545000
281,Renault KWID,Renault,KWID,4,35000,Individual,Petrol,Automatic,24.04,999,67.00,5,350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19311,Maruti Swift,Maruti,Swift,8,80000,Individual,Diesel,Manual,22.90,1248,74.00,5,350000
19434,Maruti Wagon R,Maruti,Wagon R,6,50000,Individual,CNG,Manual,26.60,998,58.16,5,450000
19489,Tata Tiago,Tata,Tiago,4,30000,Individual,Petrol,Manual,23.84,1199,84.00,5,350000
19505,Hyundai Grand,Hyundai,Grand,6,30000,Individual,Petrol,Manual,18.90,1197,82.00,5,450000
19521,Land Rover Rover,Land Rover,Rover,5,128000,Dealer,Diesel,Automatic,12.63,2179,147.50,5,2675000

There are 329 duplicate rows

In [40]:
# Dropping duplicate rows
df = df.drop_duplicates(keep='first', ignore_index=True)

In [41]:
# Final check for duplicates
df[df.duplicated(keep=False)].shape

(0, 13)

## Handling Datatypes

In [42]:
df.dtypes

car_name              object
brand                 object
model                 object
vehicle_age            int64
km_driven              int64
seller_type           object
fuel_type             object
transmission_type     object
mileage              float64
engine                 int64
max_power            float64
seats                  int64
selling_price          int64
dtype: object

All 'object' columns have to be converted to 'category'.

In [43]:
cat_cols

['car_name', 'brand', 'model', 'seller_type', 'fuel_type', 'transmission_type']

In [44]:
df[cat_cols] = df[cat_cols].astype('category')
df[cat_cols].dtypes

car_name             category
brand                category
model                category
seller_type          category
fuel_type            category
transmission_type    category
dtype: object

# Train Test Split

In [45]:
# Independent Features
X = df.drop(columns='selling_price', axis=1)
# Dependent Features
y = df['selling_price']

In [46]:
X.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [47]:
y.head()

0    120000
1    550000
2    215000
3    226000
4    570000
Name: selling_price, dtype: int64

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((12195, 12), (3049, 12))

# Features Encoding

AdaBoost Regressor does not need feature scaling; hence we are going ahead with encoding categorical features.

In [49]:
# Calculating number of unique classes in cateegorical features
unique_values = df[cat_cols].nunique()
unique_values# Train Test Split

car_name             121
brand                 32
model                120
seller_type            3
fuel_type              5
transmission_type      2
dtype: int64

* OneHotEncoder : seller_type, fuel_type, transmission_type have low number of unique values. They can be OneHotEncoded
* OrdinalEncoder: car_name, brand and model have higher number of unique features. They have to be encoded using OrdinalEncoder

In [50]:
# OneHotEncoder columns
onehot_cols = unique_values[unique_values <= 5].index.to_list()
# Ordinal Encoder Columns
ordinal_cols = unique_values[unique_values > 5].index.to_list()

onehot_cols, ordinal_cols

(['seller_type', 'fuel_type', 'transmission_type'],
 ['car_name', 'brand', 'model'])

In [51]:
# Initializing Column Transformer
pre_processor = ColumnTransformer(transformers=[('onehot', OneHotEncoder(drop='first', handle_unknown='ignore'), onehot_cols),
                                               ('ordinal', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), ordinal_cols)], remainder='passthrough', n_jobs=-1)

In [52]:
# Pre-processing X_train
X_train = pre_processor.fit_transform(X_train)

In [53]:
# Pre-processing X_test
X_test = pre_processor.transform(X_test)

In [54]:
encoded_cols = pre_processor.get_feature_names_out()
encoded_cols

array(['onehot__seller_type_Individual',
       'onehot__seller_type_Trustmark Dealer', 'onehot__fuel_type_Diesel',
       'onehot__fuel_type_Electric', 'onehot__fuel_type_LPG',
       'onehot__fuel_type_Petrol', 'onehot__transmission_type_Manual',
       'ordinal__car_name', 'ordinal__brand', 'ordinal__model',
       'remainder__vehicle_age', 'remainder__km_driven',
       'remainder__mileage', 'remainder__engine', 'remainder__max_power',
       'remainder__seats'], dtype=object)

In [55]:
# Making X_train and X_test pandas dataframes
X_train = pd.DataFrame(X_train, columns = encoded_cols)
X_test = pd.DataFrame(X_test, columns = encoded_cols)
X_train.head()

,onehot__seller_type_Individual,onehot__seller_type_Trustmark Dealer,onehot__fuel_type_Diesel,onehot__fuel_type_Electric,onehot__fuel_type_LPG,onehot__fuel_type_Petrol,onehot__transmission_type_Manual,ordinal__car_name,ordinal__brand,ordinal__model,remainder__vehicle_age,remainder__km_driven,remainder__mileage,remainder__engine,remainder__max_power,remainder__seats
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,72.0,18.0,42.0,5.0,41974.0,24.52,1248.0,88.50,7.0
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,78.0,18.0,99.0,16.0,90000.0,14.00,1061.0,64.00,5.0
2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,114.0,30.0,94.0,10.0,80000.0,20.54,1598.0,103.60,5.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,100.0,27.0,86.0,8.0,55572.0,13.70,1798.0,157.75,5.0
4,1.0,0.0,0.0,0.0,0.0,1.0,1.0,95.0,25.0,64.0,4.0,110000.0,23.01,999.0,67.00,5.0

In [56]:
X_train.dtypes

onehot__seller_type_Individual          float64
onehot__seller_type_Trustmark Dealer    float64
onehot__fuel_type_Diesel                float64
onehot__fuel_type_Electric              float64
onehot__fuel_type_LPG                   float64
onehot__fuel_type_Petrol                float64
onehot__transmission_type_Manual        float64
ordinal__car_name                       float64
ordinal__brand                          float64
ordinal__model                          float64
remainder__vehicle_age                  float64
remainder__km_driven                    float64
remainder__mileage                      float64
remainder__engine                       float64
remainder__max_power                    float64
remainder__seats                        float64
dtype: object

In [57]:
# Changing data types of ordinal columns to category
ordinal_columns = X_train.filter(like='ordinal').columns.tolist()
X_train[ordinal_columns] = X_train[ordinal_columns].astype('category')
X_test[ordinal_columns] = X_test[ordinal_columns].astype('category')
X_train.dtypes

onehot__seller_type_Individual           float64
onehot__seller_type_Trustmark Dealer     float64
onehot__fuel_type_Diesel                 float64
onehot__fuel_type_Electric               float64
onehot__fuel_type_LPG                    float64
onehot__fuel_type_Petrol                 float64
onehot__transmission_type_Manual         float64
ordinal__car_name                       category
ordinal__brand                          category
ordinal__model                          category
remainder__vehicle_age                   float64
remainder__km_driven                     float64
remainder__mileage                       float64
remainder__engine                        float64
remainder__max_power                     float64
remainder__seats                         float64
dtype: object

# Sample AdaBoost Model

Default Parameters:

AdaBoostRegressor(
    estimator=None,
    *,
    n_estimators=50,
    learning_rate=1.0,
    loss='linear',
    random_state=None,
    base_estimator='deprecated',
)

In [59]:
# Initializing
sample_model = AdaBoostRegressor(random_state=42) # random_state for reproducibility

In [60]:
# Fitting to X_train, y_train
sample_model.fit(X_train, y_train)

AdaBoostRegressor(random_state=42)

In [61]:
# Sample Prediction
sample_y_pred = sample_model.predict(X_test)

## Sample Model Scores

In [62]:
sample_r2 = r2_score(y_test, sample_y_pred)
sample_rmse = np.sqrt(mean_squared_error(y_test, sample_y_pred))
sample_mae = mean_absolute_error(y_test, sample_y_pred)

In [63]:
print("R2 score of sample model:", sample_r2)
print("RMSE of sample model:", sample_rmse)
print("MAE score of sample model:", sample_mae)

R2 score of sample model: 0.5753336720676556
RMSE of sample model: 508139.71541570936
MAE score of sample model: 366013.5658789778

RMSE of over 5 lakh seems to be very bad.

# Hyperparameter Tuning

Default Parameters:

AdaBoostRegressor(
    estimator=None,
    *,
    n_estimators=50,
    learning_rate=1.0,
    loss='linear',
    random_state=None,
    base_estimator='deprecated',
)

In [79]:
# Initializing Hyperparameters
param_distributions = {'estimator' : [DecisionTreeRegressor(max_depth=1), DecisionTreeRegressor(max_depth=2)],
                       'n_estimators': [50, 80, 100],
                      'learning_rate' : [0.001, 0.01, 0.1, 1, 2],
                      'loss' : ['linear', 'square', 'exponential']}

In [80]:
# Initializing Tuner
rcv = RandomizedSearchCV(estimator=AdaBoostRegressor(), param_distributions=param_distributions, 
                         scoring='r2',
                         n_jobs=-1, n_iter=50, cv=2)

In [81]:
# Finding best model
rcv.fit(X_train, y_train)

RandomizedSearchCV(cv=2, estimator=AdaBoostRegressor(), n_iter=50, n_jobs=-1,
                   param_distributions={'estimator': [DecisionTreeRegressor(max_depth=1),
                                                      DecisionTreeRegressor(max_depth=2)],
                                        'learning_rate': [0.001, 0.01, 0.1, 1,
                                                          2],
                                        'loss': ['linear', 'square',
                                                 'exponential'],
                                        'n_estimators': [50, 80, 100]},
                   scoring='r2')

In [82]:
model = rcv.best_estimator_
params = rcv.best_params_
params # Best Parameters

{'n_estimators': 80,
 'loss': 'linear',
 'learning_rate': 1,
 'estimator': DecisionTreeRegressor(max_depth=2)}

## Model Scores

In [83]:
y_pred = model.predict(X_test)

In [84]:
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)

In [85]:
print("R2 score of model:", r2)
print("RMSE of model:", rmse)
print("MAE score of model:", mae)

R2 score of model: -0.052287869929452
RMSE of model: 799883.077165637
MAE score of model: 677362.0071919617

In [86]:
print("Sample Model R2 Score:", sample_r2, end="\n\n")
print("Model R2 Score after hyperparameter tuning:", r2)

Sample Model R2 Score: 0.5753336720676556

Model R2 Score after hyperparameter tuning: -0.052287869929452

In [87]:
print(f"There is a change in the R2 score from {sample_r2:.2f} to {r2:.2f}")

There is a change in the R2 score from 0.58 to -0.05

# Model Pickling

In [90]:
# Directory where model has to be stored
directory = 'Models'
# Getting Current Working Directory
path = os.path.join(os.getcwd(), directory, 'adaboost_regressor.pkl')

with open(path, 'wb') as file_obj:
    pickle.dump(model, file_obj)

In [ ]:
print("Model has been pickled at", path)